.section {
  position: relative;
  height: fit-content;
  background-color: var(--color-dark);
}

.section-wrapper {
  position: relative;
  margin: auto;
  width: 1000px;
  max-width: 95%;
}
.section-header {
  margin-top: 200px;
  font-weight: bold;
  font-size: var(--fs-section-header);
  color: var(--color-almond);
}

.projects-container {
  margin-top: 50px;
  margin-bottom: 200px;
  position: relative;
}

@media (width < 800px) { 
  .section-header {
    margin-top: 100px;
    text-align: center;
  }
}
@media (width < 600px) { 
  .section {
    height: fit-content;
  }
  .section-header {
    font-size: var(--fs-section-header-mobile);
  }
  .projects-container {
    margin-top: 25px;
  }  
}