.items-container {
  margin-top: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 75%;
}

.item-box {
  padding: 2rem;
  position: relative;
  height: 400px;
  width: 320px;
  background-color: var(--color-primary-b);
  overflow: hidden;
  text-wrap: wrap;
  cursor: pointer;
  animation: slideRight 1s;
}
.item-number {
  position: absolute;
  top: -120px;
  right: 100px;
  color: var(--color-text-secondary);
  font-family: var(--ff-italic);
  font-size: var(--fs-xxl);
}
.item-tags{
  font-family: var(--ff-italic);
  color: black;
}
.item-description {
  position: relative;
  top: 25%;
}
.item-description > h4 {
  margin-bottom: .5rem;
  line-height: 2rem;
  color: var(--color-text-primary-b);
}

.overlay-popup-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.shadow-overlay {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-shadow-a);
  z-index: 1;
}
.card-popup {
  margin: auto;
  padding: 4rem;
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  width: 65%;
  color: var(--color-text-primary-b);
  background-color: var(--color-primary-b);
  z-index: 51;
}
.card-popup > h2 {
  position: relative;
  line-height: 3rem;
  margin-bottom: 2rem;
}
.card-popup > h2::after {
  content: "";
  margin-left: .2rem;
  display: inline-block;
  border-radius: 15px;
  height: 15px;
  width: 15px;
  background-color: black;
}
.card-body > p {
  position: relative;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.card-body > h4 {
  position: relative;
  margin: 1rem;
}
.card-body > h4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: black;
}


@keyframes slideRight {
  0% {opacity: 0%; transform: translateX(-50px);}
  100% {opacity: 100%; transform: translateX(0px);}
}