.items-container {
  margin-top: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 75%;
}

.item-box {
  padding: 2rem;
  position: relative;
  height: 400px;
  width: 320px;
  background-color: white;
  overflow: hidden;
  text-wrap: wrap;
  cursor: pointer;
}
.item-number {
  position: absolute;
  top: -120px;
  right: 100px;
  color: var(--color-text-secondary);
  font-family: var(--ff-ghost);
  font-size: var(--fs-xxl);
}
.item-description {
  position: relative;
  top: 32%;
}