.card-container {
  margin-top: 26px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 75%;
}

.card-box {
  padding: 2rem;
  position: relative;
  height: 400px;
  width: 320px;
  background-color: var(--color-bg-light);
  overflow: hidden;
  text-wrap: wrap;
  cursor: pointer;
  animation: slideRight 1s;
}
.card-number {
  position: absolute;
  top: -120px;
  right: 100px;
  color: var(--color-text-shadow-a);
  font-family: var(--ff-italic);
  font-size: var(--fs-xxl);
}
.card-tags{
  font-family: var(--ff-italic);
  color: black;
}
.card-description {
  position: relative;
  top: 25%;
}
.card-description > h4 {
  margin-bottom: .5rem;
  line-height: 2rem;
  color: var(--color-text-dark);
}

@keyframes slideRight {
  0% {opacity: 0%; transform: translateX(-50px);}
  100% {opacity: 100%; transform: translateX(0px);}
}

@media(width < 1100px) {
  .card-container {
    row-gap: 2rem;
    width: 95%;
  }
  .card-box {
    height: 370px;
    width: 250px;
  }
}