.item-box {
  position: relative;
  height: 400px;
  min-width: 320px;
  background-color: white;
}
.item-number {
  position: relative;
  top: -120px;
  left: -70px;
  color: var(--color-text-secondary);
  font-size: var(--fs-xxl);
}

.item-description {

}