.section {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.projects-container {
  position: relative;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(12, 1fr);
}

.project-info {
  grid-column: 5 / 7;
  position: relative;
}
.project-info::after {
  content: '';
  position: absolute;
  left: 0;
  top: -10px;
  width: 100%;
  height: 1px;
  background-color: white;
}

.project-entries {
  grid-column: 8 / 11;
  margin-bottom: 20px;
  padding-top: 1.30rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


@media (width < 900px) {
  .project-info {
    grid-column: 2 / 5;
  }

  .project-entries {
    grid-column: 7 / 12;
  }
}

@media (width < 500px) {
  .project-info {
    grid-column: 1 / 12;
  }

  .project-entries {
    grid-column: 2 / 12;
  }
}