.section {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-container {
  position: relative;
  width: 100%;
  max-width: 350px;
}
.header-container > h2 {
  font-size: var(--fs-heading);
  font-weight: 600;
}
.header-container::after {
  content: '';
  position: absolute;
  top: -10px;
  width: 100%;
  height: 1px;
  background-color: var(--bg-divider);
}