.card-container {
  position: relative;
}

.card-number {
  position: absolute;
  top: 1px;
  left: -35px;
  color: var(--color-text-complementary);
  font-size: var(--fs-text-complementary);
  font-weight: lighter;
  user-select: none;
  opacity: .5;
}

.card-header {
  position: relative;
  display: inline-block;
  font-size: var(--fs-text);
  font-weight: bold;
}

.card-links {
  position: relative;
}
.card-links > a {
  padding-left: 8px;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
.github-logo {
  font-size: var(--fs-heading);
  vertical-align: text-bottom;
}

.card-tags {
  font-size: var(--fs-card-tags);
  font-weight: lighter;
}

.card-description {
  padding-top: 5px;
} 

@media (max-width: 900px) {
  .card-number {
    left: -35px;
  }
}