.section {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container {
  margin-left: clamp(0px, calc(0rem + ((1vw - 10px) * 42.8571)), 420px);
  padding-block: min(10vh, 2rem);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
}

.header-container {
  position: relative;
  width: 100%;
  max-width: 250px;
}
.header-container::after {
  content: '';
  position: absolute;
  top: -10px;
  width: 100%;
  height: 1px;
  background-color: var(--bg-divider);
}

.entries-container {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (width < 900px) {
  .projects-container {
    margin-right: 0;
    flex-direction: column;
    align-items: center;
  }
  .header-container {
    max-width: 90%;
  }
}