.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  min-height: 911px;
  display: flex;
  justify-content: center;
}

.about-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  display: block;
  font-weight: medium;
  font-size: var(--fs-main-body);
  width: 60%;
  max-width: 1920px;
  line-height: 120%;
}
