.section {
  position: relative;
  height: 100svh;
  padding: 10px;
}

.home-header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(40px, calc(4.6875rem + ((1vw - 19.2px) * 2.193)), 75px);
  height: 100%;
}

.header {
  text-align: center;
  font-weight: bold;
  font-size: var(--fs-main-header);
  line-height: 120%;
}

.links {
  position: relative;
  display: flex;
  gap: clamp(45px, calc(6.25rem + ((1vw - 19.2px) * 3.4461)), 100px);
  text-decoration: none;
}

.link-container {
  border: 3px solid var(--color-white);
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(45px, calc(5.625rem + ((1vw - 19.2px) * 2.8195)), 90px);
  width: clamp(45px, calc(5.625rem + ((1vw - 19.2px) * 2.8195)), 90px);
  overflow: hidden;
}

.link-icon {
  position: relative;
  height: 68%;
  width: 68%;
}
