.section {
  margin: 0px 20px 40px 20px;
  position: relative;
}

.section-container {
  position: relative;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(12, 1fr);
}

.section-title {
  grid-column: 5 / 11;
  text-align: center;
}

.section-tech {
  grid-column: 5 / 11;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.section-tech > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  border: 1px solid var(--color-logo-border);
  border-radius: 2px;
  padding: 5px;
  font-size: 60px;
  width: clamp(50px, 4vw, 70px);
  height: clamp(50px, 4vw, 70px);
}

.hover-text {
  position: absolute;
  font-size: 30px;
  color: white;
  visibility: hidden;
}

.logo-html {
  color: var(--color-html);
}
.logo-js { 
  color: var(--color-js);
}
.logo-css { 
  color: var(--color-css);
}
.logo-ts { 
  color: var(--color-ts);
}
.logo-react {
  color: var(--color-react);
}

@media (width < 900px) {
  .section-title {
    grid-column: 1 / 13;
  }
  .section-tech {
    grid-column: 1 / 13;
  }
}