.section-container {
  position: relative;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(12, 1fr);
}

.section-title {
  grid-column: 1 / 4;
  transform: skew(-15deg);
  font-size: var(--fs-section-title-2);
  line-height: 100%;
}

.section-tech {
  grid-column: 5 / 11;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.section-tech > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  border: 1px solid var(--color-logo-border);
  border-radius: 2px;
  padding: 5px;
  font-size: 60px;
  width: clamp(50px, calc(3.125rem + ((1vw - 3px) * 1.6667)), 70px);;
  height: clamp(50px, calc(3.125rem + ((1vw - 3px) * 1.6667)), 70px);;
}

.hover-text {
  position: absolute;
  font-size: 30px;
  color: white;
  visibility: hidden;
}

.logo-html {
  color: var(--color-html);
}
.logo-js { 
  color: var(--color-js);
}
.logo-css { 
  color: var(--color-css);
}
.logo-ts { 
  color: var(--color-ts);
}
.logo-react {
  color: var(--color-react);
}

@media (width < 1500px) {
  .section-title {
    grid-column: 1 / 13;
  }
  .section-tech {
    grid-column: 1 / 13;
    justify-content: space-around;
  }
}

@media (width < 500px) {
  .section-title {
    grid-column: 1 / 13;
    font-size: var(--fs-section-title);
  }
  .section-tech {
    grid-column: 1 / 13;
    gap: 20px;
    justify-content: space-around;
  }
}