.navbar {
  padding: 0px 20px 0px 20px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-container {
  position: relative;
  display: grid;
  gap: 20px;
  align-items: end;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
}

.navbar-container > h5 {
  font-size: var(--fs-text);
  font-weight: 300;
}

.navbar-container > h5:nth-child(2) {
  grid-column: 5;
}
.navbar-container > h5:nth-child(3) {
  grid-column: 8;
}
.navbar-container > h5:nth-child(4) {
  grid-column: 12;
}