.section {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  grid-column: 1 / 4;
}
.section-title > h1 {
  transform: skew(-15deg);
  font-size: var(--fs-section-title-2);
  line-height: 80%;
}

.section-container {
  position: relative;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(12, 1fr);
}