.cursor {
  border-radius: 50%;
  position: fixed;
  top: -15px;
  left: -15px;
  width: 30px;
  height: 30px;
  background-color: var(--color-yellow);
  z-index: 2;
  transform: translate3d(0, 0, 0);
  pointer-events: none;
  mix-blend-mode: difference;
}

@media (max-width: 700px) {
  .cursor {
    visibility: hidden;
  }
}