h1, h2, h3, h4 {
  font-family: var(--ff-header);
  font-weight: bold;
  line-height: normal;
}
h1 {
  font-size: var(--fs-x);
}
h2 {
  font-size: var(--fs-h);
}
h3 {
  font-size: var(--fs-s);
}
h4 {
  font-size: var(--fs-vs);
}
p {
  font-size: var(--fs-normal);
  font-family: var(--ff-body);
}

.section-home, .section-menu, .section-cards {
  padding: 1rem;
}
.section-home {
  height: 100svh;
  overflow: hidden;
}
.home-wrapper {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: clamp(32px, calc(2rem + ((1vw - 11px) * 25.3659)), 240px);;
  width: fit-content;
  height: 100%;
}

.home-info-container {
  padding-top: 11rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: var(--color-text-light);
}
.home-info-header {
  position: relative;
}
.home-info-header::after {
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -520%;
  height: 5px;
  width: 500%;
  background-color: var(--color-divider);
}
.home-info-introduction {
  padding-left: .3rem;
  line-height: 1.5rem;
  max-width: 435px;
}

.home-links-container {
  padding-top: 11rem;
  position: relative;
  width: fit-content;
  height: fit-content;
}
.home-links-container::before, .home-links-container::after {
  content: '';
  position: absolute;
  background-color: var(--color-divider);
  z-index: 0;
}
.home-links-container::before {
  right: 6.8rem;
  bottom: 1rem;
  height: 500%;
  width: 5px;
}
.home-links-container::after {
  top: 18rem;
  left: 1rem;
  height: 5px;
  width: 500%;
}
.circle-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 225px);
  justify-content: center;
  align-items: center;
  gap: 4rem;
  overflow: hidden;
  z-index: 1;
}
.circle-link {
  width: 225px;
  height: 225px;
}
.circle-link:nth-child(3) {
  grid-column: 2;
}
.circle-link > a {
  display: block;
  border-radius: 1000px;
  clip-path: circle(50%);
}

.section-menu {
  position: sticky;
  top: 0;
  height: 90px;
  background-color: var(--color-bg-dark);
  z-index: 1;
}
.section-menu::after {
  content: '';
  position: absolute;
  margin: auto;
  bottom: 10px;
  left: 0;
  right: 0;
  height: 2px;
  width: 80%;
  background-color: var(--color-divider);
}
.menu {
  margin: auto;
  padding-top: 1.5rem;
  position: relative;
  display: flex;
  gap: 10rem;
  top: -20px;
  min-width: fit-content;
  width: 72%;
  color: var(--color-text-light);
}
.menu > :last-child {
  margin-left: auto;
}
.menu > h2 {
  cursor: pointer;
}

.section-cards {
  display: flex;
  justify-content: center;
  min-height: 90svh;
}

/*Layout for ipads*/
@media (width < 1100px) {
  h1 {
    font-size: var(--fs-x-1100px);
  }
  .home-info-container {
    padding-top: 0;
    margin: auto;
    position: relative;
    top: 0;
    bottom: 0;
  }
  .home-wrapper {
    gap: clamp(32px, calc(2rem + ((1vw - 6.05px) * 19.3939)), 128px);
  }
  .home-links-container {
    padding-top: 0;
    margin: auto;
    top: 0;
    bottom: 0;
  }
  .home-info-header::after, .home-links-container::after {
    visibility: hidden;
  }
  .home-links-container::before{
    right: 6.1rem;
    bottom: 1rem;
  }
  .circle-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 225px);
    gap: 2rem;
  }
  .circle-link {
    width: 200px;
    height: 200px;
  }
  .circle-link:nth-child(3) {
    grid-column: 1;
  }
  .section-menu::after {
    width: 88%;
  }
  .menu {
    width: 80%;
    gap: clamp(32px, calc(2rem + ((1vw - 6px) * 25.6)), 160px);;
  }
}

/*Layout for phones*/
@media (width < 600px) {
  
}