h1 {
  font-size: var(--fs-l-a);
}

h2 {
  font-size: var(--fs-medium-b);
}

h1, h2, h3 {
  font-family: var(--ff-header);
  font-weight: bold;
}

h3 {
  color: var(--color-text-primary-b);
  font-size: var(--fs-small-a);
}

p {
  color: var(--color-text-primary-b);
  font-family: var(--ff-body);
  font-size: var(--fs-small-b);
}