ul, li {
  list-style-type: none;
}
h1 {
  font-size: 1.2vw;
}
p {
  font-size: 0.8vw;
}
img {
  font-size: 1vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}

.page-header {
  color: white;
  padding-top: 6vh;
  font-size: 6vh;
}
.gh-icon {
  margin-left: 1vh;
  display: inline-block;
  height: 2.5vh;
  width: 2.5vh;
}

.itemview {
  width: 69%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content {
  margin-left: 13vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 70vh;
  gap: 1vmin;
  overflow-y: hidden;
  overflow-x: scroll;
  transform: skewX(-20deg);
}
.content::-webkit-scrollbar-button {
  
}

.arrow-left, .arrow-right {
  border: solid rgb(224, 224, 224);
  border-width: 0 0.7vh 0.7vh 0;
  display: inline-block;
  padding: 1vh;
  transition: .2s;
}
.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrow-right {
  margin-left: 7vh;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.arrow-left:hover, .arrow-right:hover {
  border: solid white;
  border-width: 0 0.7vh 0.7vh 0;
  display: inline-block;
  padding: 1.5vh;
  transition: .3s;
}

@media (max-width: 1000px) {
  .content {
    margin: auto;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    gap: 1vmin;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: skewX(0deg);
  }

  .arrow-left, .arrow-right {
    display: none;
    visibility: hidden;
  }
}