:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--color-white);
  background: var(--color-dark);
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-dark: #1C1C20;
  --color-lightgray-100: #c7c7c7;
  --color-lightgray-200: #b3b3b3;
  --color-lightgray-300: #9b9b9b;
  --color-gray: #bdbaba;
  --color-gray-100: #5a5a5e;
  --color-gray-200: #39393b;
  --color-white: #FFFFFF;
  --color-purple: #8C7BE9;
  --color-cyan: #7BE2E9;
  --color-deepblue: #206EB7; 
  --color-red: #E97B7B;
  --color-deepred:#DA5656;
  --color-green: #81E97B;
  --color-yellow: #E9E07B;
  --color-html: #e76e3e;
  --color-js: #E9E07B;
  --color-css: #459bec;
  --color-ts: #206EB7;
  --color-nextjs: #FFFFFF;
  --color-react: #42dbf0;

  --color-logo-border: var(--color-gray-100);
  --color-text-complementary: var(--color-lightgray-200);
  --bg-divider: var(--color-gray-200);
  
  --fs-heading: 1.5rem; /*24px*/
  --fs-section-header: 1rem; /*20px*/
  --fs-text: .875rem; /*14px*/
  --fs-card-tags: .75rem; /*12px*/
  --fs-text-complementary: .75rem; /*12px*/

  --ff-normal: 'Inter';
  --ff-italic: 'InterMediumItalic';
  --ff-medium: 'InterMedium';
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  overflow: auto;
}

h1, h2 {
  font-size: var(--fs-section-header);
  font-weight: 600;
}

p {
  font-size: var(--fs-text);
  font-weight: 300;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

.gridtest-container {
  position: absolute;
  height: 100%;
  width: 100%;
}
.gridtest {
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
  gap: 20px;
  z-index: 100;
  opacity: 1;
}