:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-dark);
  background: var(--color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-dark: #383837;
  --color-mauve: #dbd8cd;
  --color-taupe: #eae9e3;
  --color-almond: #fdfdf9;
  --color-reef: #dca27a;

  --fs-complement-text: 200px;
  --fs-title: 100px;
  --fs-section-header: 64px;
  --fs-body-header: 24px;
  --fs-body: 20px;
  --fs-base: 16px;

  --ff-normal: 'Inter';
  --ff-italic: 'InterMediumItalic';
  --ff-medium: 'InterMedium';
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  user-select: none;
}

h1,h2, h3, p {
  line-height: 120%;
}

body {
  min-height: 100vh;
  overflow: auto;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}