:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--color-white);
  background: var(--color-dark);
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-dark: #1C1C20;
  --color-gray: #2c2c30;
  --color-white: #FFFFFF;
  --color-purple: #8C7BE9;
  --color-cyan: #7BE2E9;
  --color-deepblue: #206EB7; 
  --color-red: #E97B7B;
  --color-deepred:#DA5656;
  --color-green: #81E97B;
  --color-yellow: #E9E07B;

  --bg-divider: var(--color-white);
  
  --fs-heading: 1.5rem; /*24px*/
  --fs-heading-card: 1.25rem; /*20px*/
  --fs-body: 1rem; /*16px*/
  --fs-complement: .875rem; /*14px*/

  --ff-normal: 'Inter';
  --ff-italic: 'InterMediumItalic';
  --ff-medium: 'InterMedium';
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  overflow: auto;
}

p {
  font-size: var(--fs-body);
  font-weight: 300;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}