:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-primary);
  background: linear-gradient(0deg, rgba(26,25,25,1) 70%, rgba(46,44,44,1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg-dark: #1A1919;
  --color-bg-light: #ffffff;
  --color-secondary-dark: #2e2c2c;
  --color-overlay-shadow: #1a191938;
  --color-text-dark: #1A1919;
  --color-text-light: #ffffff;
  --color-text-shadow-a: #00000023;
  --color-divider: #ffffff;
  --color-divider-dark: #1A1919;

  --fs-xxl: 250px;
  --fs-xl: 175px;
  --fs-x: 100px;
  --fs-x-1100px: clamp(65px, calc(4.0625rem + ((1vw - 6px) * 6.8627)), var(--fs-x));
  --fs-x-500px: clamp(var(--fs-vh), calc(3.75rem + ((1vw - 3.44px) * 12.8205)), var(--fs-vl));
  --fs-vl: 80px;
  --fs-l: 70px;
  --fs-vh: 60px;
  --fs-h: 50px;
  --fs-m: 40px;
  --fs-s: 30px;
  --fs-vs: 25px;
  --fs-normal: 18px;

  --ff-normal: 'Inter';
  --ff-italic: 'InterMediumItalic';
  --ff-medium: 'InterMedium';
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  user-select: none;
}

body {
  min-height: 100vh;
  overflow: auto;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}